<!-- div for the reaction test -->
<div id="test">

    <button onClick="startGame()">play</button>

    <button onClick="openModal()">instructions</button>

    <div id="circle">click here when<br>it turns red</div>

    <p id="paragraph">Your reaction time was:</p>

</div>

<div id="modal">
    <h2>How to take the test:</h2>
    <p>
    Click the "Play" button when you are ready
    <br>
    When the circle turns red, click on it
    <br>
    Your reaction time will now be displayed!
    </p>
    <h2>Good luck!</h2>

    <button onClick="closeModal()" id="exit">X</button>
</div>
