<!-- div for the reaction test -->
<div id="test">

    <button onClick="startGame()">play</button>

    <div id="circle">click here when<br>it turns red</div>

    <p id="paragraph">Your reaction time was:</p>

</div>
